.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
  margin: 10px;
  border: 1px solid var(--border-color);
  background-color: var(--main-color);
  border-radius: 8px;
}

.header_btns {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header_sort_search {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
