.song_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2px;
  transition: 0.5s ease-in;
  cursor: pointer;
}

.drag_play_icons {
  flex-grow: 1;
}

.song_name,
.artist_name {
  display: flex;
  justify-content: flex-start;
  flex-grow: 4;
}

.track_number {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}

.right_side_icons {
  display: flex;
  justify-content: flex-start;
  flex-grow: 2.5;
  gap: 3px;
}

.song_row_items {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 10px;
  color: #908799;
  font-weight: bold;
}
.song_row:hover {
  background-color: antiquewhite;
}

.right_side_icons:hover,
.drag_play_icons:hover {
  color: rgb(34, 36, 36);
}
