.btnContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.addBtn {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  margin-top: 20px;
  background-color: var(--main-color);
  border: 1px solid var(--border-color);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.addBtn:hover {
  background-color: var(--hover-color);
  color: white;
  width: 155px;
  height: 45px;
}
