.uploadFormContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  border: 1px dashed var(--border-color);
  padding: 20px;
  width: 300px;
  height: auto;
}
.fileInput {
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border: 2px solid var(--border-color);
  color: var(--font--color);
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.fileName {
  border-bottom: 1px solid var(--border-color);
}

.uploadFormBtns {
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border: 2px solid var(--border-color);
  color: var(--font--color);
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.uploadFormBtns:hover {
  background-color: var(--hover-color);
  color: white;
}

.uploadProgresss {
  border-bottom: 1px solid var(--border-color);
}
